<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style-fragments.css">
</head>

<body>
    <footer class="footer" th:fragment="footer">
        <div class="footer_flex">
            <div class="footer_informacion">
                <p><a href=""> Contáctanos </a></p>
                <p><a href=""> Preguntas frecuentes </a></p>
                <p><a href="/login"> Iniciar sesión </a></p>
                <p><a href=""> Quiénes somos </a></p>
                <p><a href=""> Soy proveedor </a></p>
            </div>
            <div class="footer_mapa">

                <div class="footer_mapa_ubicacion">
                    <p> Encontranos en Av. Santa Fe 1860, C1123 CABA</p>
                </div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325.8459455100003!2d-58.39429739919645!3d-34.59603477126445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccabdfc191295%3A0x8110084c679e64c0!2sEl%20Ateneo%20Grand%20Splendid!5e0!3m2!1ses!2sar!4v1657927156814!5m2!1ses!2sar"
                    width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="footer_redes">
                <p>Seguinos en redes</p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/"> <img class="img_footer" src="/img/redes (1).png" alt=""></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/"> <img class="img_footer" src="/img/redes (3).png" alt=""></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/"> <img class="img_footer" src="/img/redes (4).png" alt=""></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/"> <img class="img_footer" src="/img/redes (2).png" alt=""></a>
                    </li>
                </ul>
            </div>


        </div>

        <p class="footer_copyright">© Copyright Libroteca virtual</p>
        <p class="footer_copyright">Diseñado y producido por <span><a href="https://github.com/melisaortiz">Melisa Ortiz</a></span>.</p>

    </footer>
</body>

</html>