* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


/* ENCABEZADO */

body main .encabezado {
    padding: 5%;
    padding-top: 5rem;
    padding-bottom: 0;
    display: flex;
}

.encabezado div.titulo {
    width: 100%;
}

.encabezado div.titulo h1 {
    font-size: 53px;
    width: 100%;
    color: #4e59d3;
    text-align: inherit;
    padding-top: 10rem;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.encabezado div p {
    padding: 1rem;
    font-size: 1.5rem;
}

.encabezado div button {
    height: 3rem;
    border: none;
    border-radius: 2rem;
    width: 70%;
    padding: 0 2rem;
    background-color: #2f1b47;
    margin-top: 5rem;
}

.encabezado div button a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.encabezado div button:hover {
    background-color: #3d336e;
}

.encabezado .encabezado-img {
    width: 80%;
}

.encabezado div img {
    width: 100%;
}


/* NOVEDADES */

section.novedades {
    margin: 5% 0;
    padding: 0 3%;
    background-color: #e2e2e2;
}

.novedades h5 {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1rem;
}


/* NOVEDADES-- Swiper */

.swiper-general {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.swiper-general .conteiner {
    width: 90%;
    padding: 10px 40px;
}

.conteiner .swiper {
    width: 100%;
    height: 100%;
}

.conteiner .swiper-slide {
    position: relative;
    text-align: start;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
}

.conteiner .swiper-slide img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.conteiner .card-description {
    padding: 1rem;
}

.conteiner .card-description .card-title,
.conteiner .card-description .card-text {
    margin-bottom: 0.5rem;
}

.conteiner .card-description .card-link {
    text-align: center;
}

.conteiner .card-description .card-link a {
    text-decoration: none;
    color: #1d6ce2;
}


/* QUIENES SOMOS */

section.quienes-somos {
    margin: 5% 0;
    padding: 3%;
}

.quienes-somos h5 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.quienes-somos .nosotros {
    display: flex;
    margin: 0 15%;
    padding: 2rem;
}

.quienes-somos .nosotros .personal {
    padding: 0 2rem;
    text-align: center;
    width: 30%;
}

.quienes-somos .nosotros .personal img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}


/* SLOGAN */

section.slogan div {
    background-image: url(/img/background-index.png);
    height: 25rem;
    color: rgb(10, 10, 10);
}

section.slogan div h4 {
    display: block;
    margin-left: 20%;
    padding-top: 10%;
    padding: 13% 40% 13% 22%;
    font-size: 25px;
    color: blueviolet;
}


/* CONTACTO */

section.contacto {
    padding: 10% 2%;
    display: flex;
}

.contacto div h5 {
    font-size: 2rem;
}

.contacto div.imgs {
    width: 60%;
    margin-left: 20%;
}

.contacto div.imgs img {
    width: 10%;
    padding: 1rem;
}