    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: white;
        font-family: 'Montserrat', sans-serif;
    }
    /* SIDEBAR */
    
    #sidebar {
        position: fixed;
        width: 250px;
        height: 100%;
        margin-top: 96px;
        background-color: #e2e2e2;
        left: -250px;
        transition: all 500ms linear;
        scrollbar-width: 20px;
        scroll-margin-block-end: 200px;
        overflow: hidden;
        overflow-y: scroll;
        z-index: 100;
        padding-bottom: 10rem;
    }
    
    #sidebar.active {
        left: 0px;
    }
    
    #sidebar ul li {
        color: rgb(5, 5, 5);
        text-align: start;
        padding: 10px 10px;
        list-style: none;
        padding-bottom: 5px;
    }
    
    #sidebar ul li p {
        border-bottom: 1px solid rgba(100, 100, 100, .3);
    }
    
    #sidebar ul li .logo {
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
    
    #sidebar ul {
        padding-left: 5px;
    }
    
    #sidebar ul form.d-flex {
        margin-top: 1rem;
        margin-right: 5px;
    }
    
    #sidebar .toggle-btn {
        position: fixed;
        left: 10px;
        top: 100px;
        cursor: pointer;
        transition: all 500ms linear;
    }
    
    #sidebar .toggle-btn.active {
        left: 255px;
    }
    
    #sidebar .toggle-btn span {
        display: block;
        width: 40px;
        text-align: center;
        font-size: 30px;
    }
    
    #sidebar ul li ul li a {
        text-decoration: none;
        color: black;
    }
    /* SIDEBAR BUSCADOR */
    
    .me-2 {
        border-radius: 2rem;
    }
    
    .btn.btn-outline-success {
        background-color: #4e59d3;
        color: white;
        border: none;
        width: 30%;
        padding: 6px 6px;
    }
    /* SIDEBAR ACCORDION-AYUDA */
    
    .accordion-item .accordion-button {
        background-color: #e2e2e2;
        color: black;
        border-radius: none;
    }
    
    .accordion-body {
        background-color: #e2e2e2;
    }
    /* NOVEDADES */
    
    section.novedades {
        width: 100%;
        margin: auto;
        padding: 0 3%;
        padding-top: 96px;
    }
    
    .novedades h5 {
        font-size: 1.5rem;
        text-align: center;
        padding-top: 1rem;
    }
    /* NOVEDADES-- Swiper */
    
    .swiper-general {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
    }
    
    .swiper-general .conteiner {
        width: 90%;
        padding: 10px 40px;
    }
    
    .conteiner .swiper {
        width: 100%;
        height: 100%;
    }
    
    .conteiner .swiper-slide {
        position: relative;
        text-align: start;
        font-size: 18px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
    }
    
    .conteiner .swiper-slide img {
        display: block;
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    .conteiner .card-description {
        padding: 1rem;
    }
    
    .conteiner .card-description .card-title,
    .conteiner .card-description .card-text {
        margin-bottom: 0.5rem;
    }
    
    .conteiner .card-description .card-link {
        text-align: center;
    }
    
    .conteiner .card-description .card-link a {
        text-decoration: none;
        color: #1d6ce2;
    }
    /* LIBROS DESTACADOS */
    
    section.libros-destacados {
        width: 100%;
        height: 100%;
        padding: 2% 10%;
        padding-left: 19%;
        background-color: #c1d1d6;
    }
    
    section.libros-destacados h2 {
        border-bottom: #626262 solid 1px;
    }
    
    section.libros-destacados .cards {
        display: grid;
        grid-column: 3;
        width: 100%;
    }
    
    .cards .card--conteiner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 290px;
        /*Definimos el alto de las filas*/
        grid-gap: 20px;
    }
    
    .card--conteiner .card__item {
        display: flex;
        padding: 1rem;
    }
    
    .card__item .card__img {
        width: 60%;
        height: 100%;
        object-fit: cover;
        margin-right: 1rem;
        z-index: 10;
    }
    
    .card__item div p {
        margin-bottom: 0;
    }
    
    .card__item div button.comprar {
        background: #7307a3;
        border: none;
        color: white;
        padding: 0.3rem;
        padding-left: 40%;
        text-transform: uppercase;
        margin-top: 0%;
        margin-left: -30%;
        z-index: -10;
    }
    
    .card__item div button.alquilar {
        background: #4e59d3;
        border: none;
        color: white;
        padding: 0.3rem;
        padding-left: 40%;
        text-transform: uppercase;
        margin-top: 8%;
        margin-left: -30%;
        z-index: -10;
    }
    
    .card__button-ver-mas {
        margin: 1rem;
        text-align: center;
        padding: 1rem;
    }
    
    .card__button-ver-mas button {
        background: none;
        border: none;
        color: #7307a3;
        font-size: 20px;
        text-decoration: overline;
    }
    /* AUTORES DESTACADOS */
    
    section.autores-destacados {
        width: 100%;
        height: 100%;
        padding: 2% 10%;
        padding-left: 19%;
        background-color: #fff;
    }
    
    section.autores-destacados h2 {
        border-bottom: #626262 solid 1px;
    }
    
    section.autores-destacados .cards {
        display: grid;
        grid-column: 3;
        width: 100%;
    }
    
    .cards-autores .card--conteiner-autores {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 290px;
        /*Definimos el alto de las filas*/
        padding: 20px;
        grid-gap: 20px;
    }
    
    .card--conteiner-autores .card__item-autor {
        display: flex;
        padding: 1rem;
    }
    
    .card__item-autor .card__img-autor {
        border-radius: 50%;
        width: 60%;
        height: 75%;
        object-fit: cover;
        margin-right: 1rem;
        z-index: 10;
    }
    /* SECTION TODOS LOS LIBROS */
    
    section.listado-libros {
        width: 100%;
        height: 100%;
        padding: 2% 10%;
        padding-left: 19%;
        background-color: #c1d1d6;
    }
    
    section.listado-libros h2 {
        border-bottom: #626262 solid 1px;
    }
    
    div.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .cards_listado-libros {
        display: flex;
        flex-basis: max-content;
        width: 100%;
        height: 350px;
    }
    
    .card--conteiner_listado-libros {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    
    .card__item_listado-libros {
        display: flex;
        padding: 1rem;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
    }
    
    .card__img-libro {
        width: 60%;
        height: 100%;
        object-fit: cover;
        margin-right: 1rem;
        z-index: 10;
    }
    
    .card__item_listado-libros div h4 {
        font-size: 100%;
    }
    
    .card__item_listado-libros div p {
        font-size: 80%;
        margin-bottom: 0;
    }
    
    .card__item_listado-libros div button {
        border: none;
        padding: 5% 15%;
        padding-left: 40%;
        text-transform: uppercase;
        margin-top: 2%;
        margin-left: -30%;
        z-index: -10;
        border-radius: 2rem;
    }
    
    .card__item_listado-libros div button.comprar {
        background: #7307a3;
    }
    
    .card__item_listado-libros div button.alquilar {
        background: #4e59d3;
        padding-left: 42%;
        margin-top: 5%;
    }
    
    .card__item_listado-libros div button a {
        color: white;
        text-decoration: none;
    }
    
    .card__item_listado-libros div button:hover {
        opacity: 0.5;
    }
    /* SECTION TODOS LOS AUTORES */
    
    section.listado-autores {
        width: 100%;
        height: 100%;
        padding: 2% 10%;
        padding-left: 19%;
        background-color: #fff;
    }
    
    section.listado-autores h2 {
        border-bottom: #626262 solid 1px;
    }
    
    div.grid-autor {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .cards_listado-autores {
        display: flex;
        flex-basis: max-content;
        width: 100%;
        height: 300px;
        margin-bottom: -15%;
    }
    
    .card--conteiner_listado-autores {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    
    .card__item_listado-autores {
        display: flex;
        padding: 1rem;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 80%;
        width: 80%;
    }
    
    .card__img-autor {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-right: 1rem;
        z-index: 10;
        border-radius: 50%;
    }
    
    .card__item_listado-autores div h4 {
        padding-top: 20%;
        font-size: 100%;
    }
    
    .card__item_listado-autores div p {
        font-size: 80%;
        margin-bottom: 0;
    }
    /* LISTADO AUTORES */
    
    section#todas-las-editoriales {
        background-color: #c1b4df;
    }
    
    .card--conteiner_listado-editorial {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    
    .card__item_listado-editorial {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
        width: 100%;
    }
    
    .card__item_listado-editorial h4 {
        font-size: 20px;
    }
    
    .cards_listado-editorial {
        display: flex;
        flex-basis: max-content;
        width: 100%;
        height: 35px;
    }