* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, #0c8af1, #3373e4, #4e59d3, #633cbe, #7307a3);
    font-family: 'Montserrat', sans-serif;
}


/* LOGIN */

.login div.login-formulario {
    width: 90%;
    margin: 5rem 0rem 0 5rem;
    display: inline-block;
}

.login form.login-form {
    color: white;
    padding: 2rem;
    width: 55%;
    text-align: center;
    margin: auto;
}

.login form.login-form h3 {
    font-family: 'Raleway', sans-serif;
}

.login form.login-form div.mb-3 input {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    width: 90%;
}


/* ----- Botones formulario (formatos generales)----- */

.btn-form {
    margin: 20px auto;
    border: none;
    padding: 10px 44px;
    font-size: 20px;
    position: relative;
    background: none;
}

.btn-form::before {
    -webkit-transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.btn-form .btn-text {
    mix-blend-mode: difference;
}

.btn-form:hover::before {
    background: rgb(255, 255, 255);
    width: 100%;
}


/* ----- Botón "iniciar sesion" ----- */

form.login-form button#login-form_iniciar-sesion {
    border-radius: 50px;
    position: relative;
}

form.login-form button#login-form_iniciar-sesion span {
    color: #ffffff;
    mix-blend-mode: difference;
}

form.login-form button#login-form_iniciar-sesion::before {
    border-radius: 3rem;
    width: 20%;
    border: solid #030933;
}

form.login-form button#login-form_iniciar-sesion:hover::before {
    background: #030933;
    width: 100%;
}

form.login-form h3 {
    margin-top: 1.5rem;
    font-size: 1.6rem;
}


/* REGISTRO */

section.registro {
    width: 50%;
    margin: auto;
    text-align: center;
    color: #ffffff;
}

.registro .modal.fade {
    color: black;
}

.registro .modal.fade .modal-body .form-control {
    border-radius: 2rem;
}

.registro .modal.fade .modal-body .form-text.text-muted {
    font-size: 11px;
    ;
}


/* ----- Botón "registrarse" ----- */

.registro button#login-form_registrarse {
    border-radius: 50px;
    position: relative;
}

.registro button#login-form_registrarse span {
    color: #ffffff;
    mix-blend-mode: difference;
}

.registro button#login-form_registrarse::before {
    border-radius: 3rem;
    width: 23%;
    border: solid #44BBA4;
}

.registro button#login-form_registrarse:hover::before {
    background: #44BBA4;
    width: 100%;
}