* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}


/* NAVBAR */

nav.navbar button.nombre-usuario {
    height: 3.2rem;
    width: 12.5rem;
    border: none;
    border-radius: 2rem;
    position: relative;
    left: 50rem;
    padding: 0 2rem;
    top: -4rem;
}

nav.navbar button.configuracion {
    background: none;
    height: 3.2rem;
    top: -3.4rem;
    border: none;
    border-radius: 2rem;
    position: relative;
    left: 66rem;
    padding: 0 2rem;
}


/* SIDEBAR */

#sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-top: 96px;
    background-color: #e2e2e2;
    left: -250px;
    transition: all 500ms linear;
    scrollbar-width: 20px;
    scroll-margin-block-end: 200px;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 100;
    padding-bottom: 10rem;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li {
    color: rgb(5, 5, 5);
    text-align: start;
    padding: 10px 10px;
    list-style: none;
    padding-bottom: 5px;
    margin-left: -5px;
}

#sidebar ul li p {
    border-bottom: 1px solid rgba(100, 100, 100, .3);
}

#sidebar ul li .logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

#sidebar ul {
    padding-left: 5px;
}

#sidebar ul form.d-flex {
    margin-top: 1rem;
    margin-right: 5px;
}

#sidebar .toggle-btn {
    position: fixed;
    left: 10px;
    top: 100px;
    cursor: pointer;
    transition: all 500ms linear;
}

#sidebar .toggle-btn.active {
    left: 255px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
}

#sidebar ul li ul li a {
    text-decoration: none;
    color: black;
}


/* SIDEBAR BUSCADOR */

.me-2 {
    border-radius: 2rem;
}

.btn.btn-outline-success {
    background-color: #4e59d3;
    color: white;
    border: none;
    width: 30%;
    padding: 6px 6px;
}


/* SIDEBAR MODALS */

.btn.btn-primary {
    background: none;
    color: black;
    border: none;
}

.btn.btn-primary:hover {
    background: none;
    color: #7307a3;
    border: none;
}

.btn.btn-primary::before {
    background: none;
    color: #7307a3;
    border: none;
}

.modal-footer .btn.btn-primary {
    background-color: #633cbe;
    color: #fff;
}

.modal-backdrop.fade.show {
    z-index: 10;
}


/* LIBROS DESTACADOS */

section.libros-destacados {
    width: 100%;
    padding: 2% 10%;
    padding-top: 130px;
    padding-left: 19%;
}

section.libros-destacados h2 {
    border-bottom: #626262 solid 1px;
}

section.libros-destacados .cards {
    display: grid;
    grid-column: 3;
    width: 100%;
}

.cards .card--conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 290px;
    /*Definimos el alto de las filas*/
    padding: 20px;
    grid-gap: 20px;
}

.card--conteiner .card__item {
    display: flex;
    padding: 1rem;
}

.card__item .card__img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    margin-right: 1rem;
    z-index: 10;
}

.card__item div p {
    margin-bottom: 0;
}

.card__item div button.comprar {
    background: #7307a3;
    border: none;
    color: white;
    padding: 0.5rem;
    padding-left: 40px;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-left: -30px;
    z-index: -10;
}

.card__item div button.alquilar {
    background: #4e59d3;
    border: none;
    color: white;
    padding: 0.5rem;
    padding-left: 40px;
    text-transform: uppercase;
    margin-top: 1em;
    margin-left: -30px;
    z-index: -10;
}

.card__button-ver-mas {
    margin: 1rem;
    text-align: center;
    padding: 1rem;
}

.card__button-ver-mas button {
    background: none;
    border: none;
    color: #7307a3;
    font-size: 20px;
    text-decoration: overline;
}


/* AUTORES DESTACADOS */

section.autores-destacados {
    width: 100%;
    background-color: #c1d1d6;
    padding: 2% 10%;
    padding-left: 19%;
}

section.autores-destacados h2 {
    border-bottom: #626262 solid 1px;
}

section.autores-destacados .cards {
    display: grid;
    grid-column: 3;
    width: 100%;
}

.cards-autores .card--conteiner-autores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 290px;
    /*Definimos el alto de las filas*/
    padding: 20px;
    grid-gap: 20px;
}

.card--conteiner-autores .card__item-autor {
    display: flex;
    padding: 1rem;
}

.card__item-autor .card__img-autor {
    border-radius: 50%;
    width: 60%;
    height: 75%;
    object-fit: cover;
    margin-right: 1rem;
    z-index: 10;
}


/* SECTION TODOS LOS LIBROS */

section.listado-libros {
    width: 100%;
    height: 100%;
    padding: 2% 10%;
    padding-left: 19%;
    background-color: #fff;
}

section.listado-libros h2 {
    border-bottom: #626262 solid 1px;
}

div.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cards_listado-libros {
    display: flex;
    flex-basis: max-content;
    width: 100%;
    height: 350px;
}

.card--conteiner_listado-libros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.card__item_listado-libros {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}

.card__img-libro {
    width: 60%;
    height: 100%;
    object-fit: cover;
    margin-right: 1rem;
    z-index: 10;
}

.card__item_listado-libros div h4 {
    font-size: 100%;
}

.card__item_listado-libros div p {
    font-size: 80%;
    margin-bottom: 0;
}

.card__item_listado-libros div button {
    border: none;
    padding: 5% 15%;
    padding-left: 40%;
    text-transform: uppercase;
    margin-top: 15%;
    margin-left: -30%;
    z-index: -10;
    border-radius: 2rem;
    background: #7307a3;
    color: white;
}

.card__item_listado-libros div button:hover {
    opacity: 0.5;
}


/* TABLA DAR DE BAJA */

.table-responsive-lg.table-hover.table-dark.table-bordered {
    background-color: #fff;
    color: #000;
    font-size: 80%;
}

table td i {
    font-size: 70%;
}

table tr,
table td {
    padding: 0 0.5rem;
}

.table-responsive-lg.table-hover.table-dark.table-bordered th,
.table-responsive-lg.table-hover.table-dark.table-bordered tbody tr td.contenido,
.table-responsive-lg.table-hover.table-dark.table-bordered tbody tr {
    color: rgb(2, 2, 2);
    border: none;
    border-bottom: solid #000 1px;
}

.table-responsive-lg.table-hover.table-dark.table-bordered td.contenido:hover {
    border-color: #000 solid 1px;
    color: rgb(2, 2, 2);
}


/* SECTION TODOS LOS AUTORES */

section.listado-autores {
    width: 100%;
    height: 100%;
    padding: 2% 10%;
    padding-left: 19%;
}

section#todos-los-autores {
    background-color: #cec8db;
}

section.listado-autores h2 {
    border-bottom: #626262 solid 1px;
}

div.grid-autor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cards_listado-autores {
    display: flex;
    flex-basis: max-content;
    width: 100%;
    height: 300px;
    margin-bottom: -15%;
}

.card--conteiner_listado-autores {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.card__item_listado-autores {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80%;
    width: 80%;
}

.card__img-autor {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 1rem;
    z-index: 10;
    border-radius: 50%;
}

.card__item_listado-autores div h4 {
    padding-top: 20%;
    font-size: 100%;
}

.card__item_listado-autores div p {
    font-size: 80%;
    margin-bottom: 0;
}


/* LISTADO EDITORIALES */

.card--conteiner_listado-editorial {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.card__item_listado-editorial {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

.card__item_listado-editorial h4 {
    font-size: 20px;
}

.cards_listado-editorial {
    display: flex;
    flex-basis: max-content;
    width: 100%;
    height: 35px;
}