<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros- Librería virtual</title>
    <!-- LINK CSS -->
    <link rel="stylesheet" href="/css/style-administrador.css">
    <link rel="stylesheet" href="/css/style-fragments.css">
    <link rel="stylesheet" href="/js/script-menu.js">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Link icons google -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- boostrap lista -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

</head>

<body>
    <nav th:replace="fragments/navbar::navbar"></nav>

    <div id="sidebar">
        <div id="sidebar-btn" class="toggle-btn">
            <!-- caracter de tres lineas: -->
            <span>&#9776;</span>
        </div>

        <ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <li>
                <p>Libros</p>
                <ul>
                    <li>

                        <!-- Button crear libro/  modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crear-libro">
                            <span class="material-symbols-outlined">add_box</span>Agregar libro</button>
                        <!-- Modal -->
                        <div class="modal fade" id="crear-libro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> <span class="material-symbols-outlined">add_box</span>Agregar libro</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/libro/crear_libro" method="POST" enctype="multipart/form-data">

                                            <label>Título *</label>
                                            <input type="text" class="form-control" name="titulo" required th:value="${titulo}" />
                                            <br>
                                            <label for="isbn">ISBN *</label>
                                            <input type="text" class="form-control" name="isbn" required th:value="${isbn}" />
                                            <br>
                                            <label for="descripcion">Descripción</label>
                                            <input type="text" class="form-control" name="descripcion" th:value="${descripcion}" />
                                            <small id="descripcionHelp" class="form-text text-muted">Reseña de máx. 255 caracteres que identifica el libro.</small>
                                            <br>
                                            <label for="anio">Año de creación *</label>
                                            <input type="number" class="form-control" name="anio" required th:value="${anio}" />
                                            <br>
                                            <label for="precio">Precio *</label>
                                            <input type="number" class="form-control" name="precio" required th:value="${precio}" />
                                            <br>
                                            <label for="ejemplares">Ejemplares *</label>
                                            <input type="number" class="form-control" name="ejemplares" required th:value="${ejemplares}" />
                                            <br>
                                            <label for="autor">Autor del libro *</label>
                                            <select class="form-control custom-select" name="idAutor">
                                                    <option selected disabled value="">Seleccionar...</option>
                                                    <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
                                                </select>
                                            <small id="descripcionHelp" class="form-text text-muted">Si el autor del libro no se encuentra en la lista debe crearlo en la sección "Autor".</small>
                                            <br>
                                            <label for="editorial">Editorial del libro *</label>
                                            <select class="form-control custom-select" name="idEditorial">
                                                    <option selected disabled value="">Seleccionar...</option>
                                                    <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option>
                                                </select>
                                            <small id="descripcionHelp" class="form-text text-muted">Si la editorial del libro no se encuentra en la lista debe crearlo en la sección "Editorial".</small>
                                            <br>
                                            <label for="categoria">Categoría *</label>
                                            <select class="form-control custom-select" name="categoria">
                                                    <option selected disabled value="">Seleccionar...</option>
                                                    <option th:each="libro : ${categorias}" th:value="${libro}" th:text="${libro.displayName()}"></option> 
                                                </select>
                                            <br>
                                            <label>Foto de portada</label>
                                            <input type="file" class="form-control bg-dark text-white" name="archivo" th:value="${archivo}" id="file" />
                                            <small id="fotoHelp" class="form-text text-muted">Ingrese una foto que represente al libro.</small>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Guardar libro</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li>

                        <!-- Button editar libro/  modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editar-libro">
                        <span class="material-symbols-outlined">edit_square</span>Editar libro</button>
                        <!-- Modal -->
                        <div class="modal fade" id="editar-libro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><span class="material-symbols-outlined">edit_square</span>Editar libro</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/libro/modificar_libro" method="POST" enctype="multipart/form-data">
                                            <label for="libro">Libro a modificar *</label>
                                            <select class="form-control custom-select" name="idLibro">
                                                    <option selected disabled value="">Seleccionar...</option>
                                                    <option th:each="libro : ${libros}" th:value="${libro.id}" th:text="${libro.titulo}" name="idLibro"></option>
                                                </select>
                                            <br>
                                            <label>Título *</label>
                                            <input type="text" class="form-control" name="titulo" required th:value="${titulo}" />
                                            <br>
                                            <label for="isbn">ISBN *</label>
                                            <input type="text" class="form-control" name="isbn" required th:value="${isbn}" />
                                            <br>
                                            <label for="descripcion">Descripción</label>
                                            <input type="text" class="form-control" name="descripcion" th:value="${descripcion}" />
                                            <br>
                                            <label for="anio">Año de creación *</label>
                                            <input type="number" class="form-control" name="anio" required th:value="${anio}" />
                                            <br>
                                            <label for="precio">Precio *</label>
                                            <input type="number" class="form-control" name="precio" required th:value="${precio}" />
                                            <br>
                                            <label for="ejemplares">Ejemplares *</label>
                                            <input type="number" class="form-control" name="ejemplares" required th:value="${ejemplares}" />
                                            <br>
                                            <label for="autor">Autor del libro *</label>
                                            <select class="form-control custom-select" name="idAutor">
                                                    <option selected disabled value="">Seleccionar...</option>
                                                    <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
                                                </select>
                                            <small id="descripcionHelp" class="form-text text-muted">Si el autor del libro no se encuentra en la lista debe crearlo en la sección "Autor".</small>
                                            <br>
                                            <label for="editorial">Editorial del libro *</label>
                                            <select class="form-control custom-select" name="idEditorial">
                                                    <option selected disabled value="">Seleccionar...</option>
                                                    <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option>
                                                </select>
                                            <small id="descripcionHelp" class="form-text text-muted">Si la editorial del libro no se encuentra en la lista debe crearlo en la sección "Editorial".</small>
                                            <br>
                                            <label for="categoria">Categoría *</label>
                                            <select class="form-control custom-select" name="categoria">
                                                    <option selected disabled value="">Seleccionar...</option>
                                                    <option th:each="libro : ${categorias}" th:value="${libro}" th:text="${libro.displayName()}"></option> 
                                                </select>
                                            <br>
                                            <label>Foto de portada</label>
                                            <input type="file" class="form-control bg-dark text-white" name="archivo" th:value="${archivo}" id="file" />
                                            <small id="fotoHelp" class="form-text text-muted">Ingrese una foto que represente al libro.</small>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Guardar libro</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </li>
                    <li>
                        <!-- Button dar alta/baja a un libro/  modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eliminar-libro">
                        <span class="material-symbols-outlined">delete</span>Dar de baja/alta un libro</button>
                        <!-- Modal -->
                        <div class="modal fade" id="eliminar-libro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> <span class="material-symbols-outlined">delete</span>Dar de baja un libro</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">

                                        <table class="table-responsive-lg table-hover table-dark table-bordered">
                                            <h3 class="titulo-tabla">Libros activos/inactivos</h3>
                                            <thead class=>
                                                <tr class="encabezado-tabla">
                                                    <th>Título (Año)</th>
                                                    <th>ISBN</th>
                                                    <th>Autor</th>
                                                    <th>Estado</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="libro : ${libros}">

                                                    <td th:text="${libro.titulo} + ' (' + ${libro.anio} + ')'" class="contenido"></td>
                                                    <td th:text="${libro.isbn}" class="contenido"></td>
                                                    <td th:text="${libro.autor.nombre}" class="contenido"></td>

                                                    <td class="contenido">
                                                        <i th:if="${libro.alta == true}" class="bi bi-circle-fill text-success" title="De alta">ACTIVO</i>
                                                        <i th:if="${libro.alta == false}" class="bi bi-circle-fill text-danger" title="De baja">INACTIVO</i>
                                                    </td>
                                                    <td class="contenido">
                                                        <a th:if="${libro.alta == false}" th:href="@{/libro/alta/__${libro.id}__}"><i class="bi bi-arrow-up-circle text-success" title="Dar de alta"></i></a>
                                                        <a th:if="${libro.alta == true}" th:href="@{/libro/baja/__${libro.id}__}"><i class="bi bi-arrow-down-circle text-danger" title="Dar de baja"></i></a>
                                                        <a th:href="@{/libro/eliminar-libro/__${libro.id}__}"><i class="bi bi-x-circle text-danger" title="Eliminar"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- Button Ver todos los libros libros-->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ver-libros">
                        <a href="#todos-los-libros"> <span class="material-symbols-outlined">assignment</span>Ver todos los libros </a> </button>


                    </li>
                    <li>
                        <!-- Button Ver todos los libros alquilados/  modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#libros-alquilados">
                        <span class="material-symbols-outlined">calendar_month</span>Libros alquilados</button>
                        <!-- Modal -->
                        <div class="modal fade" id="libros-alquilados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><span class="material-symbols-outlined">calendar_month</span>Libros alquilados</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- Button editar libros destacados/  modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editar-destacados">
                        <span class="material-symbols-outlined">bookmark</span>Editar libros destacados</button>
                        <!-- Modal -->
                        <div class="modal fade" id="editar-destacados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> <span class="material-symbols-outlined">bookmark</span>Editar libros destacados</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <p>Autor</p>
                <ul>
                    <li>
                        <!-- Button crear autor/  modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crear-autor">
                        <span class="material-symbols-outlined">add_box</span>Agregar autor</button>
                        <!-- Modal -->
                        <div class="modal fade" id="crear-autor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> <span class="material-symbols-outlined">add_box</span>Agregar autor</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/autor/crear_autor" method="POST" enctype="multipart/form-data">

                                            <label>Nombre *</label>
                                            <input type="text" class="form-control" name="nombreAutor" th:value="${nombreAutor}" required/>
                                            <br>
                                            <label for="descripcion">Descripción *</label>
                                            <input type="text" class="form-control" name="descripcion" th:value="${descripcion}" required/>
                                            <small id="descripcionHelp" class="form-text text-muted">Reseña de máx. 255 caracteres que identifica el libro.</small>
                                            <br>
                                            <label for="pais">País *</label>
                                            <select class="form-control custom-select" name="pais">
                                                <option selected disabled value="">Seleccionar...</option>
                                                <option th:each="libro : ${paises}" th:value="${libro}" th:text="${libro.displayName()}"></option> 
                                            </select>
                                            <br>
                                            <label>Foto del autor</label>
                                            <input type="file" class="form-control bg-dark text-white" name="archivo" th:value="${archivo}" id="file" />
                                            <small id="fotoHelp" class="form-text text-muted">Ingrese una foto que represente al autor.</small>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Guardar autor</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- Button editar autor/  modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editar-autor">
                        <span class="material-symbols-outlined">edit_square</span>Editar autor</button>
                        <!-- Modal -->
                        <div class="modal fade" id="editar-autor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><span class="material-symbols-outlined">edit_square</span>Editar autor</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/autor/modificar_autor" method="POST" enctype="multipart/form-data">

                                            <label for="autor">Autor a modificar *</label>
                                            <select class="form-control custom-select" name="idAutor">
                                                    <option selected disabled value="">Seleccionar...</option>
                                                    <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}" name="idAutor"></option>
                                                </select>
                                            <br>
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" name="nombre" th:value="${nombre}" />
                                            <label for="descripcion">Descripción </label>
                                            <input type="text" class="form-control" name="descripcion" th:value="${descripcion}" />
                                            <small id="descripcionHelp" class="form-text text-muted">Reseña de máx. 255 caracteres que identifica el libro.</small>
                                            <br>
                                            <label for="pais">País </label>
                                            <select class="form-control custom-select" name="pais">
                                                <option selected disabled value="">Seleccionar...</option>
                                                <option th:each="libro : ${paises}" th:value="${libro}" th:text="${libro.displayName()}"></option> 
                                            </select>
                                            <br>
                                            <label>Foto del autor</label>
                                            <input type="file" class="form-control bg-dark text-white" name="archivo" th:value="${archivo}" id="file" />
                                            <small id="fotoHelp" class="form-text text-muted">Ingrese una foto que represente al autor.</small>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Guardar autor</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- Button dar alta/baja a un autor/  modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eliminar-autor">
                        <span class="material-symbols-outlined">delete</span>Dar de baja/alta un autor</button>
                        <!-- Modal -->
                        <div class="modal fade" id="eliminar-autor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> <span class="material-symbols-outlined">delete</span>Dar de baja un autor</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">

                                        <table class="table-responsive-lg table-hover table-dark table-bordered">
                                            <h3 class="titulo-tabla">Autores activos/inactivos</h3>
                                            <thead class=>
                                                <tr class="encabezado-tabla">
                                                    <th>Nombre</th>
                                                    <th>Pais</th>
                                                    <th>Descrpcion</th>
                                                    <th>Estado</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="autor : ${autores}">

                                                    <td th:text="${autor.nombre}" class="contenido"></td>
                                                    <td th:text="${autor.pais}" class="contenido"></td>
                                                    <td th:text="${autor.descripcion}" class="contenido"></td>

                                                    <td class="contenido">
                                                        <i th:if="${autor.alta == true}" class="bi bi-circle-fill text-success" title="De alta">ACTIVO</i>
                                                        <i th:if="${autor.alta == false}" class="bi bi-circle-fill text-danger" title="De baja">INACTIVO</i>
                                                    </td>
                                                    <td class="contenido">
                                                        <a th:if="${autor.alta == false}" th:href="@{/autor/alta/__${autor.id}__}"><i class="bi bi-arrow-up-circle text-success" title="Dar de alta"></i></a>
                                                        <a th:if="${autor.alta == true}" th:href="@{/autor/baja/__${autor.id}__}"><i class="bi bi-arrow-down-circle text-danger" title="Dar de baja"></i></a>
                                                        <a th:href="@{/autor/eliminar-autor/__${autor.id}__}"><i class="bi bi-x-circle text-danger" title="Eliminar"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- Button Ver todos los autores -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ver-autores">
                        <a href="#todos-los-autores"> <span class="material-symbols-outlined">assignment</span>Ver todos los autores </a> </button>
                    </li>
                    <!-- Button editar autores destacados/  modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editar-destacados-autores">
                        <span class="material-symbols-outlined">bookmark</span>Editar autores destacados</button>
                    <!-- Modal -->
                    <div class="modal fade" id="editar-destacados-autores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"> <span class="material-symbols-outlined">bookmark</span>Editar autores destacados</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </li>
            <li>
                <p>Editorial</p>
                <ul>
                    <li>

                        <!-- Button crear editorial/  modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crear-editorial">
                        <span class="material-symbols-outlined">add_box</span>Agregar editorial</button>
                        <!-- Modal -->
                        <div class="modal fade" id="crear-editorial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> <span class="material-symbols-outlined">add_box</span>Agregar editorial</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/editorial/crear_editorial" method="POST" enctype="multipart/form-data">
                                            <label>Nombre *</label>
                                            <input type="text" class="form-control" name="nombre" th:value="${nombre}" required/>
                                            <br>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Guardar editorial</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- Button editar autor/  modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editar-editorial">
                        <span class="material-symbols-outlined">edit_square</span>Editar editorial</button>
                        <!-- Modal -->
                        <div class="modal fade" id="editar-editorial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><span class="material-symbols-outlined">edit_square</span>Editar editorial</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/editorial/modificar_editorial" method="POST" enctype="multipart/form-data">

                                            <label for="autor">Editorial a modificar *</label>
                                            <select class="form-control custom-select" name="idEditorial">
                                                    <option selected disabled value="">Seleccionar...</option>
                                                    <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}" name="idEditorial"></option>
                                                </select>
                                            <br>
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" name="nombre" th:value="${nombre}" />
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Guardar editorial</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- Button dar alta/baja a un autor/  modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eliminar-editorial">
                        <span class="material-symbols-outlined">delete</span>Dar de baja/alta una editorial</button>
                        <!-- Modal -->
                        <div class="modal fade" id="eliminar-editorial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> <span class="material-symbols-outlined">delete</span>Dar de baja una editorial</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">

                                        <table class="table-responsive-lg table-hover table-dark table-bordered">
                                            <h3 class="titulo-tabla">editorial activas/inactivas</h3>
                                            <thead class=>
                                                <tr class="encabezado-tabla">
                                                    <th>Nombre</th>
                                                    <th>Estado</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="editorial : ${editoriales}">

                                                    <td th:text="${editorial.nombre}" class="contenido"></td>


                                                    <td class="contenido">
                                                        <i th:if="${editorial.alta == true}" class="bi bi-circle-fill text-success" title="De alta">ACTIVO</i>
                                                        <i th:if="${editorial.alta == false}" class="bi bi-circle-fill text-danger" title="De baja">INACTIVO</i>
                                                    </td>
                                                    <td class="contenido">
                                                        <a th:if="${editorial.alta == false}" th:href="@{/editorial/alta/__${editorial.id}__}"><i class="bi bi-arrow-up-circle text-success" title="Dar de alta"></i></a>
                                                        <a th:if="${editorial.alta == true}" th:href="@{/editorial/baja/__${editorial.id}__}"><i class="bi bi-arrow-down-circle text-danger" title="Dar de baja"></i></a>
                                                        <a th:href="@{/editorial/eliminar-editorial/__${editorial.id}__}"><i class="bi bi-x-circle text-danger" title="Eliminar"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- Button Ver todos las editoriales-->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ver-editoriales">
                        <a href="#todas-las-editoriales"> <span class="material-symbols-outlined">assignment</span>Ver todos las editoriales </a> </button>


                    </li>
                </ul>
            </li>
        </ul>
    </div>



    <section class="libros-destacados">
        <h2>Libros destacados</h2>
        <div class="cards">
            <div class="card--conteiner">
                <div class="card__item">
                    <img class="card__img" src="/img/portada (1).jpeg" alt="">
                    <div>
                        <h4>Nombre libro aqui</h4>
                        <p>Autor aqui</p>
                        <p>Editorial aqui</p>

                    </div>
                </div>
                <div class="card__item">
                    <img class="card__img" src="/img/portada (2).jpg" alt="">
                    <div>
                        <h4>Nombre libro aqui</h4>
                        <p>Autor aqui</p>
                        <p>Editorial aqui</p>

                    </div>
                </div>
                <div class="card__item">
                    <img class="card__img" src="/img/portada (3).jpg" alt="">
                    <div>
                        <h4>Nombre libro aqui</h4>
                        <p>Autor aqui</p>
                        <p>Editorial aqui</p>

                    </div>
                </div>
                <div class="card__item">
                    <img class="card__img" src="/img/portada (4).jpg" alt="">
                    <div>
                        <h4>Nombre libro aqui</h4>
                        <p>Autor aqui</p>
                        <p>Editorial aqui</p>

                    </div>
                </div>
                <div class="card__item">
                    <img class="card__img" src="/img/portada (5).jpg" alt="">
                    <div>
                        <h4>Nombre libro aqui</h4>
                        <p>Autor aqui</p>
                        <p>Editorial aqui</p>

                    </div>
                </div>
                <div class="card__item">
                    <img class="card__img" src="/img/portada (6).jpg" alt="">
                    <div>
                        <h4>Nombre libro aqui</h4>
                        <p>Autor aqui</p>
                        <p>Editorial aqui</p>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="autores-destacados">
        <h2>Autores destacados</h2>
        <div class="cards-autores">
            <div class="card--conteiner-autores">
                <div class="card__item-autor">
                    <img class="card__img-autor" src="/img/jk-rowling.jpg" alt="">
                    <div>
                        <h4>Nombre autor aqui</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card__item-autor">
                    <img class="card__img-autor" src="/img/gabriel-garcia-marquez.jpg" alt="">
                    <div>
                        <h4>Nombre autor aqui</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card__item-autor">
                    <img class="card__img-autor" src="/img/stephen-king.jpg" alt="">
                    <div>
                        <h4>Nombre autor aqui</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="listado-libros" id="todos-los-libros">
        <h2>Todos los libros</h2>
        <div class="grid">
            <div th:each="libro : ${librosActivos}" class="cards_listado-libros">
                <div class="card--conteiner_listado-libros">
                    <div class="card__item_listado-libros">
                        <img th:src="@{'/foto/libro/' + ${libro.id}}" class="card__img-libro" alt="Portada del libro">
                        <div>
                            <h4 th:text="${libro.titulo} + ' (' + ${libro.anio} + ')'"></h4>
                            <p th:text="'ISBN: ' + ${libro.isbn}"></p>
                            <p th:text="'Autor: ' + ${libro.autor.nombre}"></p>
                            <p th:text="'Editorial: ' + ${libro.editorial.nombre}"></p>
                            <p th:text="${libro.categoria.displayName()} "></p>
                            <p th:text="'Precio: $ ' + ${libro.precio}"></p>
                            <button class="comprar" data-toggle="modal" data-target="#editar-libro">Editar</button>

                        </div>
                    </div>
                </div>
            </div>

    </section>

    <section class="listado-autores" id="todos-los-autores">
        <h2>Todos los autores</h2>
        <div class="grid-autor">
            <div th:each="autor : ${autoresActivos}" class="cards_listado-autores">
                <div class="card--conteiner_listado-autores">
                    <div class="card__item_listado-autores">
                        <img th:src="@{'/foto/autor/' + ${autor.id}}" class="card__img-autor" alt="Foto del autor">
                        <div>
                            <h4 th:text="${autor.nombre}"></h4>
                            <p th:text="${autor.pais.displayName()} "></p>
                            <p th:text="${autor.descripcion}"></p>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="listado-autores" id="todas-las-editoriales">
        <h2>Todas las editoriales</h2>
        <div class="grid-autor">
            <div th:each="editorial : ${editorialesActivas}" class="cards_listado-editorial">
                <div class="card--conteiner_listado-editorial">
                    <div class="card__item_listado-editorial">
                        <div>
                            <h4 th:text="'► ' + ${editorial.nombre}"></h4>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <footer th:replace="fragments/footer::footer"></footer>

    <script src="/js/script-menu.js"></script>

    <!-- Scripts boostrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>

</html>