<!doctype html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <title>Librería</title>
    <link rel="stylesheet" href="/css/index.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <!-- Fonts Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@600&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <nav class="navbar_gral" th:fragment="navbar">
            <ul>
                <li id="navbar_nombre">
                    <a href="">Libroteca virtual</a>
                </li>
                <li><button><a href="/login" id="login">Iniciar sesión</a></button></li>
                <li><a href="#quienes-somos">Quiénes somos</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="encabezado">
            <div class="titulo">
                <h1 class="fuente"> Libroteca vitual</h1>
                <p>Librería y biblioteca en un mismo lugar.</p>
                <button><a href="/libros">Ver libros</a></button>
            </div>
            <div class="encabezado-img">
                <img src="/img/logotipo.png" alt="">
            </div>
        </div>
    </main>

    <section class="novedades">
        <h5>NOVEDADES</h5>

        <!-- Swiper -->
        <div class="swiper-general">
            <div class="conteiner">
                <div class="swiper mySwiper">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <img src="/img/img_main.png" alt="">
                            <div class="card-description">
                                <div class="card-title">
                                    <h4>Descrpcion</h4>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur</p>
                                </div>
                                <div class="card-link">
                                    <a href="">Ver más</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="" alt="">
                            <div class="card-description">
                                <div class="card-title">
                                    <h4>Descrpcion</h4>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur</p>
                                </div>
                                <div class="card-link">
                                    <a href=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="" alt="">
                            <div class="card-description">
                                <div class="card-title">
                                    <h4>Descrpcion</h4>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur</p>
                                </div>
                                <div class="card-link">
                                    <a href=""></a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".mySwiper", {
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        </script>


    </section>

    <section class="quienes-somos" id="quienes-somos">
        <h5>Sobre nosotros</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius dolores optio autem aut? Cupiditate vitae explicabo quis aliquam expedita doloribus, voluptates consectetur, deleniti laudantium quia officia natus, officiis odio voluptate?</p>
        <div class="nosotros">
            <div class="personal">
                <img src="/img/elon-mask.jpg" alt="">
                <p>Elon Mask</p>
                <p>CEO</p>
            </div>

            <div class="personal">
                <img src="/img/mark-zuckerberg.jpg" alt="">
                <p>Mark Zuckerberg</p>
                <p>Director of proyects</p>
            </div>

            <div class="personal">
                <img src="/img/grace-hopper.jpg" alt="">
                <p>Grace Hopper</p>
                <p>CTO</p>
            </div>

        </div>

    </section>

    <section class="slogan">
        <div>

        </div>
    </section>

    <section class="contacto" id="contacto">
        <div>
            <h5>Contactanos!</h5>
            <p>contacto@libreriavirtual.com</p>
        </div>
        <div class="imgs">
            <a href="https://www.facebook.com/"> <img src="/img/redes (1).png" alt=""></a>
            <a href="https://www.linkedin.com/"> <img src="/img/redes (2).png" alt=""></a>
            <a href="https://www.instagram.com/"><img src="/img/redes (3).png" alt=""></a>
            <a href="https://twitter.com/"><img src="/img/redes (4).png" alt=""></a>
        </div>


    </section>


    <footer class="footer">
        <div class="footer_flex">
            <div class="footer_informacion">
                <p><a href=""> Contáctanos </a></p>
                <p><a href=""> Preguntas frecuentes </a></p>
                <p><a href="/login"> Iniciar sesión </a></p>
                <p><a href=""> Quiénes somos </a></p>
                <p><a href=""> Soy proveedor </a></p>
            </div>
            <div class="footer_mapa">

                <div class="footer_mapa_ubicacion">
                    <p> Encontranos en Av. Santa Fe 1860, C1123 CABA</p>
                </div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325.8459455100003!2d-58.39429739919645!3d-34.59603477126445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccabdfc191295%3A0x8110084c679e64c0!2sEl%20Ateneo%20Grand%20Splendid!5e0!3m2!1ses!2sar!4v1657927156814!5m2!1ses!2sar"
                    width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="footer_redes">
                <p>Seguinos en redes</p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/"> <img class="img_footer" src="/img/redes (1).png" alt=""></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/"> <img class="img_footer" src="/img/redes (3).png" alt=""></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/"> <img class="img_footer" src="/img/redes (4).png" alt=""></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/"> <img class="img_footer" src="/img/redes (2).png" alt=""></a>
                    </li>
                </ul>
            </div>


        </div>

        <p class="footer_copyright">© Copyright Libroteca virtual</p>
        <p class="footer_copyright">Diseñado y producido por <span><a href="https://github.com/melisaortiz">Melisa Ortiz</a></span>.</p>

    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>



</html>